[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx = "*"
flask-testing = "*"
gunicorn = "*"
sphinxcontrib-napoleon = "*"
faker = "*"


[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pycep-correios = "*"
flask-restful = "*"


[requires]

python_version = "3.5"
