[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

Faker = "*"


[packages]

Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"


[requires]

python_version = "3.5"
